/*index.jsp*/
.index-body{
    background-color:#77ced9;
}
div.index-login-form
{
    display: block;
    text-align: center;
}
.index-login-form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.index-main{
    padding: 50px;
}
input{
    margin: 10px;
    padding: 5px;
}
input[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.header{
    width: 100%;
    background-color: #63acb5;
    font-size: 40px;
    font-family: AG_Futura;
    text-align: center;
    /*-webkit-text-stroke: 1px white;*/
}
.index-error{
    font-family: AG_Futura;
    text-align: center;
}
.button {
    font-family: AG_Futura;
    background-color: #2ea832;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 12px;
}

.button:hover {opacity: 1}

/*top-nav.jsp*/
.top {
    background-color: #63acb5;
    overflow: hidden;
}
.top a {
    font-family: AG_Futura;
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 19px 16px;
    text-decoration: none;
    font-size: 17px;
}
.top a:hover {
    font-family: AG_Futura;
    background-color: #ddd;
    color: #63acb5;
}
.top a.active {
    float: right;
    font-family: AG_Futura;
    background-color: #2ea832;
    color: white;
}
/*main.jsp*/
.main-hello{
    font-family: AG_Futura;
    margin: 12px;
    font-size: 24px;
    float: left;
    color: white;
}
.common-body{
    height: auto;
    width: auto;
    background-color: #77ced9;
}
* {
    box-sizing: border-box;
}

.col-3 {
    height: 400px;
    width: 33.333%;
    margin: 0.5rem;
    background: white;
    border-style: solid;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
.main-faculties{
    margin: 30px;
    font-size: 40px;
    font-family: AG_Futura;
    text-align: center;
}
.main-threefacs{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
.dev-image{
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.qa-image{
    margin: 10px;
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.smm-image{
    margin: 10px;
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*spec*/
.spec-header{
    font-size: 42px;
    font-family: AG_Futura;
    color: white;
}
.spec-description{
    font-size: 30px;
    font-family: AG_Futura;
}
.spec-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.spec-column{
    font-size: 30px;
    font-family: AG_Futura;
    color: white;
    text-align: center;
}
.spec-description{
    text-align: center;
    font-size: 19px;
    font-family: AG_Futura;
    color: black;
}
.account-info-query{
    text-align: left;
    font-size: 19px;
    font-family: AG_Futura;
    color: black;
    width: 50%;
}
.account-info-grades{
    text-align: right;
    font-size: 19px;
    font-family: AG_Futura;
    color: black;
    width: 50%;
}
.account-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

